@import url(https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css);

/* 2024/06/13 開始新增之css */
.project-tag{
	background: #7b3de5;
	position: relative;
	width: fit-content;
	-moz-width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 34px;
	padding: 2px 9px;
}

.project-tag::before,.project-tag::after{
	content: '';
	display: block;
	position: absolute;
	border-style: solid;

}

.project-tag::before{
	bottom: 0;
	left: -15px;
	border-width: 0 0 34px 15px;
	border-color: transparent transparent #7b3de5 transparent;
}

.project-tag::after{
	top: 0;
	right: -15px;
	border-width: 34px 15px 0 0;
	border-color: #7b3de5 transparent transparent transparent;
}

@media (max-width:1199px){
	.project-tag{
		font-size: 14px;
	}
}

@media (max-width:575px){
	.project-tag{
		margin-top: 15px;
		margin-left: 15px;
		font-size: 16px;
	}
}

@media (min-width:576px){
	.project-title{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.project-tag{
		margin-top: 4px;
		margin-left: 49px;
	}
}

@media (min-width:1200px){
	.project-tag{
		font-size: 18px;
		margin-top: 4px;
		margin-left: 49px;
	}
}
